/*Reinitialise les marge et paddings par defaut de tous les elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style de base pour tout le corps de la page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 189, 230);
    color: black;
    text-align: center;
    display: flex;
}

.container {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(109, 241, 219);
    width: 380px;
    height: 400px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

input {
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#submit {
    margin-top: 30px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    width: 300px;
    height: 40px;
    transition: 0.3s;

}

#submit:hover {
    background-color: whitesmoke;
    color: black;
    width: 330px;
    height: 45px;
}

h1 {
    margin-top: 20px;
    font-size: x-large;
}